<div class="container">
    <div class = "text">
        <h1 class="first-header"> </h1>
    </div>
    <div class="content">
      <div *ngFor="let appointment of appointments">
            <h3>Appointment number {{ appointment.id_appointment }}</h3>
            <label>Date:</label>
            <span>{{ appointment.date }}</span>
            <br>
            <label>Status:</label>
            <span>{{ appointment.status }}</span>
            <div class="btn">
              <button (click)="deleteAppointment(appointment.id_appointment)">Cancel</button>
            </div>
        </div>
    </div>
    <div class="content">
        <label>Doctor:</label>
      <select [(ngModel)]="selectedDoctorId">
        <option *ngFor="let doctor of doctors" [value]="doctor.id_doctor">
          {{ doctor.first_name }} {{ doctor.last_name }}
        </option>
      </select>
      
        <label>Date:</label>
        <input type="datetime-local" [(ngModel)]="newAppointmentDate" />
      
    <div class="btn">
        <button (click)="addNewAppointment()">Add New Appointment</button>
      </div>
      
    </div>
</div>
  